<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/Games/GamingPages/OnlineMultiplayers/CS-GO/cs1.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>counter strike go</title>
</head>
<body>
    <header>
        <a href="#" class="logo"><img src="logo.png" alt=""></a>
        <div class="toggle"><a href="..//..//index.html"><img src="toggle.png" alt=""></a></div> 
    </header>
    <div class="banner">
        <div class="content">

            <h2><span>counter strike </span>:global offensive</h2>
            <p>
                Counter-Strike: Global Offensive (CS:GO) expands upon the team-based first person shooter gameplay the original Counter-Strike pioneered when it launched in 1999. Two teams compete in multiple rounds of objective-based game modes with the goal of winning enough rounds to win the match.
            </p>
            <a href="#" class="play" onclick="toggle();"><img src="play.png" alt="">watch trailer</a>
            <br>
            <a href="#" class="play-gameplay" onclick="toggle1();"><img src="play.png" alt="">watch gameplay</a>
            
            
        </div>
        

    </div>
    <div class="trailer">

        <iframe width="560" height="315" src="https://www.youtube.com/embed/edYCtaNueQY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <img src="close.png" alt="" class="close" onclick="toggle();">
    </div>
    <div class="gameplay">

        <iframe width="560" height="315" src="https://www.youtube.com/embed/rOpariPFAeM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <img src="close.png" alt="" class="close" onclick="toggle1();">
    </div>
    
    <script>
        function toggle(){
        var trailer=document.querySelector('.trailer');
        let video=document.querySelector('.iframe');
        trailer.classList.toggle('active');
        video.currentTime = 0;
        video.pause();}
        function toggle1(){
        var gameplay=document.querySelector('.gameplay');
        let video=document.querySelector('.iframe');
        gameplay.classList.toggle('active');
        video.currentTime = 0;
        video.pause();}
    </script>
     
</body>
</html>