<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Read n Game</title>
    <script
    src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">    
    
    <script
	src="https://code.jquery.com/jquery-3.3.1.js"
	integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
	
<!-- 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"  -->
<!-- 	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
   
<!--     Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
   
<!--     <link rel="stylesheet" type="text/css"  -->
<!-- 	href="/webjars/bootstrap/css/bootstrap.min.css" /> -->
    
    <!-- Our Custom CSS -->
       <link rel="stylesheet" href="./css/Games/style.css" />
    
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <!-- <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script> -->

</head>

<body id="page-top">
    <!-- <a class="menu-toggle rounded" href="#">
         <i class="fa fa-bars"></i> 
    </a>-->

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div id="dismiss">
                <i class="fas fa-arrow-left"></i>
            </div>

            <div class="sidebar-header">
                <h3>Read n Game</h3>
            </div>

            <ul class="list-unstyled components">
           
                <p>Your Place to be</p>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Gaming</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#UpcomingGames">Coming Soon</a>
                        </li>
                        <li>
                            <a href="#TopRatedGames">Top Rated</a>
                        </li>
                        <li>
                            <a href="#LatestGames">Recent Releases</a>
                        </li>
                        <li>
                            <a href="#OnlineMultiplayers">Online Multiplayers</a>
                        </li>
                        <li>
                            <a href="#ClassicGames">Classics</a>
                        </li>
                        <li>
                            <a href="#OtherGames">Other</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">E-Books</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a th:href="@{/ebooks#ComingSoon}">Coming Soon</a>
                        </li>
                        <li>
                            <a th:href="@{/ebooks#Paperback}">Paperback</a>
                        </li>
                        <li>
                            <a th:href="@{/ebooks#SciFi}">Sci-Fi</a>
                        </li>
                        <li>
                            <a th:href="@{/ebooks#Romance}">Romance</a>
                        </li>
                        <li>
                            <a th:href="@{/ebooks#Mystery}">Mystery</a>
                        </li>
                        <li>
                            <a th:href="@{/ebooks#Horror}">Horror</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Minigames</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
               
                
            </ul>

            <!--  
                <ul class="list-unstyled CTAs">
                <li>
                    <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
                </li>
                <li>
                    <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
                </li>
            </ul>
            --> 
        </nav>

        <!-- Page Content  -->
        <div id="content">
            
                <nav class="navbar navbar-expand-lg navbar-light bg-dark" id="navbar">
                
                    <div class="container-fluid">

                        <button type="button" id="sidebarCollapse" class="btn btn-info">
                            <i class="fas fa-align-left"></i>
                            <span>Menu</span>
                        </button>
                        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" 
                    data-toggle="collapse" data-target="#navbarSupportedContent" 
                    aria-controls="navbarSupportedContent" aria-expanded="false" 
                    aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>
                        
                    </div>
                    
                    
                    <div class="collapse navbar-collapse" id="navbarSupportedContent"style="spacing:0.5%;">
                    
                        <ul class="nav navbar-nav ml-auto" >
                        <li class="nav-item">
                        <p>Welcome <span style="color:violet;text-transform:uppercase;">[[${#request.userPrincipal.principal.fullName}]]</span></p>
                        </li>
                        
                        <li class="nav-item" style="text-indent:2em;">
                         <form th:action = "@{logout}" method = "post">
							<input style="background-color:#1a1a2e;color:#f3e6e3;"type = "submit" value = "Sign Out" />
							</form>
                         </li>
                        
                       		
                        </ul>
                       
                    </div>
                    
                </nav>
           
                
            

            <!--header -->
            <header class="masthead d-flex">
                <div class="container text-center my-auto">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <h1 class="mb-1">Ghosts of Tsushima</h1>
                    <h5 class="mb-5" style="color:#000;"><em>Available on all Platforms</em></h5>
                    <!--<a href="#" class="btn btn-primary btn-xl js-scroll-trigger">Watch Trailer</a>
                    <a href="#" class="btn btn-primary btn-xl js-scroll-trigger">Watch Gameplay</a> -->
                    <a href="#" class="play" data-id="CNpIfP4vtrE" data-target="#myModalPrev" data-toggle="modal">
                    <img src="./images/Games/play.png">Watch Trailer</a>
                    <br>
                    <a href="#" class="play" data-id="J_-_T05SOE" data-target="#myModalPrev" data-toggle="modal">
                    <img src="./images/Games/play.png">Watch gameplay</a>
                </div>
                <div class="overlay">
    
                </div>
            </header>
            <div class="modal fade" id="myModalPrev" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <img src="./images/Games/close.png" class="close" data-dismiss="modal" aria-hidden="true" >
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                         <!--<div class="modal-header">
                             <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> 
                            <h4 id="myModalLabel" class="semi-bold">a way out<strong></strong>.</h4> 
                        </div>
                        <hr>-->
                        <div class="modal-body" id="trailer">
                            Modal Content
                        </div>
                        <!--<hr>
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn btn-primary"><i class="fa fa-times"></i> Close</button>               
                        </div>-->
                    </div>
                </div>    
            </div>
            
    
            <!-- #UpcomingGames section -->
            <section id="UpcomingGames">
                <div class="Container">
                    <h2>Coming Soon</h2>
                    <div class="row Games">
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="row">
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/UpcomingGames/Halo-Infinite/haloinfinite.jpg"></a>
                                </div>
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/UpcomingGames/f1-2021/f12021.jpg"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="row">
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/UpcomingGames/hitman-3/hitman3.jpg"></a>
                                </div>
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/UpcomingGames/destiny2/destiny2.jpg"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="row">
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/UpcomingGames/days-gone/daysgone-resize.jpg"></a>
                                </div>
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/UpcomingGames/deathloop/deathloop-resize.jpg"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="row">
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/UpcomingGames/back4blood/b4b-resize.jpg"></a>
                                </div>
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/UpcomingGames/god-of-war-2021/ragnarok-resize.jpg"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        
            <!-- Top Rated Games-->
            <section id="TopRatedGames">
                <div class="Container">
                    <h2>Top Rated</h2>
                    <div class="row Games">
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="row">
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/TopRatedGames/Red-Dead-Redemption-2/reddeadredemption2.jpg"></a>
                                </div>
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/TopRatedGames/Witcher3/witcher3.jpg"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="row">
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/TopRatedGames/Spiderman-Ps4/spiderman-cover-resize.png"></a>
                                </div>
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/TopRatedGames/Uncharted-4-Theif's-End/uncharted-4-a-thiefs-end-box-art-cover-resize.jpg"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="row">
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/TopRatedGames/Bloodborne/bloodbornebox-resize.jpg"></a>
                                </div>
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/TopRatedGames/Resident-Evil-2/residentevil2.jpg"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="row">
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/TopRatedGames/Meta-Gear-Phantom-Pain/metalgearphantompain.jpg"></a>
                                </div>
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/TopRatedGames/God-of-War-2018/godofwar-cover2-resize.jpg"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="row">
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/TopRatedGames/AC-Syndicate/acsyndicate.jpg"></a>
                                </div>
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/TopRatedGames/COD-MW/codmodernwarfare.jpg"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="row">
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/TopRatedGames/Legend-of-Zelda/zeldabreathofthewild-resize.jpg"></a>
                                </div>
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/TopRatedGames/Doom-Eternal/doometernal.jpg"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
            <!-- New Releases -->
            <section id="LatestGames">
                <div class="Container">
                    <h2>Recent Releases</h2>
                    <div class="row Games">
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="row">
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/LatestGames/residentevil8/village.jpg"></a>
                                </div>
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/LatestGames/Little-Nightmares-2/littlenightmares2.jpg"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="row">
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/LatestGames/It-Takes-2/ittakestwo.jpg"></a>
                                </div>
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/LatestGames/AC-Valhalla-WrathOfDruids-DLC/wrathofthedruids.jpg"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="row">
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/LatestGames/hitman 3/hitman3.jpg"></a>
                                </div>
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/LatestGames/Marvels-Avengers/marvelavengers.jpg"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
             <!-- Online Multiplayers -->
             <section id="OnlineMultiplayers">
                <div class="Container">
                    <h2>Online Multiplayers</h2>
                    <div class="row Games">
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="row">
                                <div class="col-6">
                                    <a href="./images/Games/GamingPages/OnlineMultiplayers/CS-1.6/cs1.html">
                                    <img src="./images/Games/OnlineMultiplayers/CS-1.6/cs-1-6.jpg"></a>
                                </div>
                                <div class="col-6">
                                    <a th:href="@{/csgo}">
                                    <img src="./images/Games/OnlineMultiplayers/CS-GO/501538-counter-strike-global-offensive-playstation-3-front-cover.jpg"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="row">
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/OnlineMultiplayers/apex/images.jpg"></a>
                                </div>
                                <div class="col-6">
                                    <a href="#">
                                    <img src="./images/Games/OnlineMultiplayers/f1 2021/f12021.jpg"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="row">
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/OnlineMultiplayers/fortnite/cd040f421a02b7f445928bdd20bcb2a9.jpg"></a>
                                </div>
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/OnlineMultiplayers/motogp/motogp-21-box-image.jpg"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="row">
                                <div class="col-6">
                                <a th:href="@{/pubg}">
                                    <img src="./images/Games/OnlineMultiplayers/pubg/bdbd7cb46163eea97cbfa113064e7c37.jpg"></a>
                                </div>
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/OnlineMultiplayers/rocketleague/rocketleague.jpg"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="row">
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/OnlineMultiplayers/League-of-Legends/League of Legends PC.jpg"></a>
                                </div>
                                <div class="col-6">
                                    <a th:href="@{/valorant}">
                                    <img src="./images/Games/OnlineMultiplayers/Valorant/valorant.jpg"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>    
    
             <!-- Classics -->
             <section id="ClassicGames">
                <div class="Container">
                    <h2>Classics</h2>
                    <div class="row Games">
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="row">
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/Classics/Super-Mario-Bros-3d/supermario3dworld.jpg"></a>
                                </div>
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/Classics/Uncharted2-AmongTheives/uncharted2.jpg"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="row">
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/Classics/Batman-Arkham-City/batmanarkhamcity.jpg"></a>
                                </div>
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/Classics/GTA-SA/grasanandreas.jpg"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="row">
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/Classics/Halo 2/halo2box.jpg"></a>
                                </div>
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/Classics/Resident-Evil-4/residentevil4.jpg"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="row">
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/Classics/GTA-IV/gta4.jpg"></a>
                                </div>
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/Classics/God-of-War3/God of War III PS3.jpg"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="row">
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/Classics/COD4-MW/callofduty4mw.jpg"></a>
                                </div>
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/Classics/Last-of-Us/thelastofus.jpg"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="row">
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/Classics/horizon zero dawn/cover.horizon-zero-dawn-complete-edition.930x908.2020-03-10.2.jpg"></a>
                                </div>
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/Classics/Bioshock-Infinite/bioshockinfinite.jpg"></a>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                </div>
            </section>

            <!--Other Games-->
            <section id="OtherGames">
                <div class="Container">
                    <h2>Other Games</h2>
                    <div class="row Games">
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="row">
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/Classics/Super-Mario-Bros-3d/supermario3dworld.jpg"></a>
                                </div>
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/Classics/Uncharted2-AmongTheives/uncharted2.jpg"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="row">
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/Classics/Batman-Arkham-City/batmanarkhamcity.jpg"></a>
                                </div>
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/Classics/GTA-SA/grasanandreas.jpg"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="row">
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/Classics/Halo 2/halo2box.jpg"></a>
                                </div>
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/Classics/Resident-Evil-4/residentevil4.jpg"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="row">
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/Classics/GTA-IV/gta4.jpg"></a>
                                </div>
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/Classics/God-of-War3/God of War III PS3.jpg"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="row">
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/Classics/COD4-MW/callofduty4mw.jpg"></a>
                                </div>
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/Classics/Last-of-Us/thelastofus.jpg"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="row">
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/Classics/horizon zero dawn/cover.horizon-zero-dawn-complete-edition.930x908.2020-03-10.2.jpg"></a>
                                </div>
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/Classics/Bioshock-Infinite/bioshockinfinite.jpg"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="row">
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/Classics/Halo 2/halo2box.jpg"></a>
                                </div>
                                <div class="col-6">
                                    <a href="#"><img src="./images/Games/Classics/Resident-Evil-4/residentevil4.jpg"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
            <!-- Footer Section-->
               <footer id="footer">
                   <i class="social-icon fa fa-envelope"></i>
                   <br> 
                   <a href="index.html" class="footername">Read n Game</a><span> by Fahman,Zahoor and Umaid </span>
               </footer>
    
               <a href="#" class="scroll-to-top rounded js-scroll-trigger">
                   <i class="fa fa-angle-up"></i>
               </a>
        </div>
    </div>
        

    <div class="overlay"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    
    </script>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    
<!--     Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
<!--     jQuery Custom Scroller CDN -->
    <script 
    src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript">
    
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss, .overlay').on('click', function () {
                $('#sidebar').removeClass('active');
                $('.overlay').fadeOut();
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').addClass('active');
                $('.overlay').fadeIn();
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
      //smooth scrolling using jQuery and easing
        $('a.js-scroll-trigger[href*="#"]:not([href="#"])').click(function(){
            if(
                location.pathname.replace(/^\//,"")== this.pathname.replace(/^\//,"") 
                && location.hostname == this.hostname){
                    var target = $(this.hash);
                    target = target.length ? target : $("[name= "+ this.hash.slice(1)+ "]");
                    if(target.length){
                        $("html, body").animate({
                            scrollTop: target.offset().top,
                        },
                        1000,
                        "easeInOutExpo"
                        );
                        return false;
                    }
                }
            });
            $('#sidebar .js-scroll-trigger').click(function(){
                $("#sidebar").removeClass("active");
                $('#menutoggle').removeClass("active");
                $(".menutoggle > fa.arrow-left, .menutoggle > .fa-times").toggleClass(
                    "fa-arrow-left fa-times"
                );  
            });
            $(document).scroll(function() {
                var scrollDistance = $(this).scrollTop();
                if(scrollDistance > 100){
                    $(".scroll-to-top").fadeIn();
                }
                else{
                    $(".scroll-to-top").fadeOut();
                }
            });

        // on preview show iframe
    $('#myModalPrev').on('show.bs.modal', function (e) {
       var idVideo = $(e.relatedTarget).data('id');
       $('#myModalPrev .modal-body').html('<iframe width="100%" height="400px" src="https://www.youtube.com/embed/' + idVideo + '?autoplay=true" frameborder="0" allowfullscreen></iframe>');
     });
     //on close remove
     $('#myModalPrev').on('hidden.bs.modal', function () {
        $('#myModalPrev .modal-body').empty();
     });  
     

     // on preview show iframe
 $('#myModalPrev').on('show.bs.modal', function (e) {
    var idVideo = $(e.relatedTarget).data('id');
    $('#myModalPrev .modal-body').html('<iframe width="100%" height="400px" src="https://www.youtube.com/embed/' + idVideo + '?autoplay=true" frameborder="0" allowfullscreen></iframe>');
  });
  //on close remove
  $('#myModalPrev').on('hidden.bs.modal', function () {
     $('#myModalPrev .modal-body').empty();
  });  
  

     // closes the sidebar menu
     /* $(".menu-toggle").click(function(e){
         e.preventDefault();
         $("#sidebar-wrapper").toggleClass("active");
         $(".menu-toggle > .fa-bars, .menu-toggle > .fa-times ").toggleClass(
             "fa-bars fa-times"
         );
         $(this).toggleClass("active");
     }); */

     $(document).ready(function () {
         $("#sidebar").mCustomScrollbar({
             theme: "minimal"
         });

         $('#dismiss, .overlay').on('click', function () {
             $('#sidebar').removeClass('active');
             $('.overlay').removeClass('active');
         });

         $('#sidebarCollapse').on('click', function () {
             $('#sidebar').addClass('active');
             $('.overlay').addClass('active');
             $('.collapse.in').toggleClass('in');
             $('a[aria-expanded=true]').attr('aria-expanded', 'false');
         });
     });
     
    </script>
     
</body>

</html>